$fontMain: "Roboto", sans-serif;
$colorHeaderBackground: #355990;
$colorHeaderSection: #1e3b68;
$bodyBackgroundColor: #fcfcfc;
$colorLabel: #355990;
$propertyBorderInput: border 1px solid #d0d0d0;
$success: green;


@mixin reset-defoult-style() {
  padding: 0;
  margin: 0;
}
%flexDefault {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


* {
  @include reset-defoult-style();
  font{
    font-family: Roboto, sans-serif;
    size: 12px;
  }
}

body {
  background-color: $bodyBackgroundColor;
  h2 {
    color: $colorHeaderSection;
    width: 20%;
  }
  h4 {
    width: 20%;
    text-transform: uppercase;
    color: $colorLabel;
  }
}

.header {
  background-color: $colorHeaderBackground;
  border-top: 10px solid $colorHeaderSection;
  padding: 20px;
  h1 {
    width: 100%;
    color: white;
  }
}

hr {
  margin-bottom: 40px;
  margin-top: 20px;
}

form {
  @extend %flexDefault;
  padding: 5px;
}
label {
  margin: 10px;
  margin-right: 40px;
}
input,
textarea,
select {
  max-width: 500px;
  border: 1px solid #d0d0d0;
  color: grey;
  padding: 5px;
}

input[type="checkbox"] {
  margin-top: 6px;
  vertical-align: middle;
  width: auto;
  margin: 5px;
  margin-left: 10px;
  border: 3px solid pink;
}
button {
  border: none;
  background-color: orange;
  color: white;
  padding: 10px 20px;
  margin-top: 30px;
  text-transform: uppercase;
}

.slide-fade-enter-active {
  transition: all 0.3s ease;
}
.slide-fade-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-fade-enter,
.slide-fade-leave-to {
  transform: translateX(10px);
  opacity: 0;
}
span {
  @extend %flexDefault;
  width: 70%;
  color: grey;
  font-size: 12px;
  justify-content: flex-end;
}

.cardSectionContainer {
  background-color: white;
  max-width: 1000px;
  min-width: 800px;
  padding: 20px;
  margin: 10px;
  border-radius: 3px;
  box-shadow: 0px 0px 18px 2px rgba(0, 0, 0, 0.18);
}
.rewards {
  width: 10%;
}
.autocomplete {
  width: 70%;
}
.addMailLabel {
  font-size: 10px;
  color: grey;
}
.whenContainer > form > input {
  max-width: 120px;
}

@import "success.scss";
